*
{
    margin: 0;
    padding: 0;
}

#particles-js{

    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(Desk.gif);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.logo
{
    margin-top: 25px;
    font-size: 28px;
    text-transform: uppercase;

}

.welcome
{
    margin-left: 5%;
    position: absolute;
    color: #fdfdfd;
    font-family: sans-serif;

}

.welcome h1
{

    margin-top: 220px;
    letter-spacing: 2px;
    font-size: 42px;
    text-transform: uppercase;
}

.welcome p
{
    margin-top: 20px;
    letter-spacing:normal;
    font-family: monospace;
}

.welcome a
{
    background-color: #FF9999;
    color: black;
    text-decoration: none;
    letter-spacing: 2px;
    position: fixed;
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 200;
    box-shadow: 0 0 5px #FF0000;
    transition: 0.5s;

}

.welcome a:hover {
    box-shadow: 0 0 5px #FF0000, 0 0 25px #FF0000,
    0 0 50px #FF0000,0 0 100px #FF0000;
    
}
